# Agrupaciones en Pandas

### Series con el método pandas.Series.groupby

Documentación en:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.groupby.html

In [1]:
import pandas as pd

In [2]:
s = pd.Series([19000, 35678, 230.06, 450, 67578, -6778], 
              index = ["NUP678","MTU090","MTU567","MTU567","MTU678","MTU090"],name = 'Clientes')
s

NUP678    19000.00
MTU090    35678.00
MTU567      230.06
MTU567      450.00
MTU678    67578.00
MTU090    -6778.00
Name: Clientes, dtype: float64

In [3]:
s.groupby(["En contra", "En contra", "En contra", "En contra","En contra","A favor"])

In [4]:
s_agrupado = s.groupby(["En contra", "En contra", "En contra", "En contra","En contra","A favor"])

In [5]:
s_agrupado.mean()

A favor      -6778.000
En contra    24587.212
Name: Clientes, dtype: float64

In [6]:
s_agrupado = s.groupby(["En contra", "En contra", "En contra", "En contra","En contra","A favor"],sort = False)

In [7]:
s_agrupado.mean()

En contra    24587.212
A favor      -6778.000
Name: Clientes, dtype: float64

In [8]:
s.groupby(level = 0).sum()

MTU090    28900.00
MTU567      680.06
MTU678    67578.00
NUP678    19000.00
Name: Clientes, dtype: float64

In [9]:
s.groupby(level = 0).size()

MTU090    2
MTU567    2
MTU678    1
NUP678    1
Name: Clientes, dtype: int64

In [10]:
s.groupby(level = 0).std()

MTU090    30020.925502
MTU567      155.521065
MTU678             NaN
NUP678             NaN
Name: Clientes, dtype: float64

In [11]:
mindex = pd.MultiIndex.from_arrays([["040012","040012","040002","040044","040068","040127","040012"],
                                     ["MTUU90","MTU567","MTU567","MTU678","NUP678","MTUU90","MTUU90"]],
                                     names=['Institucion','Folio'])

In [12]:
mindex

MultiIndex([('040012', 'MTUU90'),
            ('040012', 'MTU567'),
            ('040002', 'MTU567'),
            ('040044', 'MTU678'),
            ('040068', 'NUP678'),
            ('040127', 'MTUU90'),
            ('040012', 'MTUU90')],
           names=['Institucion', 'Folio'])

In [13]:
s2 = pd.Series([19000, 35678, 230.06, 450, 67578, -6778, -200], name = 'Clientes',
               index = mindex)
s2

Institucion  Folio
040012       MTUU90    19000.00
             MTU567    35678.00
040002       MTU567      230.06
040044       MTU678      450.00
040068       NUP678    67578.00
040127       MTUU90    -6778.00
040012       MTUU90     -200.00
Name: Clientes, dtype: float64

In [14]:
s2.groupby(level = 0).sum()

Institucion
040002      230.06
040012    54478.00
040044      450.00
040068    67578.00
040127    -6778.00
Name: Clientes, dtype: float64

In [15]:
s2.groupby(level = 1).sum()

Folio
MTU567    35908.06
MTU678      450.00
MTUU90    12022.00
NUP678    67578.00
Name: Clientes, dtype: float64

In [16]:
s2.groupby(['Folio','Institucion']).sum()

Folio   Institucion
MTU567  040002           230.06
        040012         35678.00
MTU678  040044           450.00
MTUU90  040012         18800.00
        040127         -6778.00
NUP678  040068         67578.00
Name: Clientes, dtype: float64

### DataFrames con el método pandas.DataFrame.groupby
Documentación en: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [17]:
MA = pd.read_csv("~/development/dgef-data-science/session-4-intro-pandas/data/historico-vector-m.csv",dtype='str',encoding = "ISO-8859-1")
MA["RENDIMIENTO"] = MA["RENDIMIENTO"].astype(float)
MA["DIAS X VENCER"] = MA["DIAS X VENCER"].astype(int)
MA["PRECIO SUCIO"] = MA["PRECIO SUCIO"].astype(float)
MA["FECHA"] = pd.to_datetime(MA["FECHA"],dayfirst=True)

In [18]:
MA

,INSTRUMENTO,FECHA,TIPO VALOR,PRECIO SUCIO,PRECIO LIMPIO,DIAS X VENCER,RENDIMIENTO,TASA CUPON
0,M_BONOS_170615,2016-12-30,M,99.651517,99.443184,167,6.23,0.05
1,M_BONOS_171214,2016-12-30,M,101.539659,101.216742,349,6.43,0.0775
2,M_BONOS_180614,2016-12-30,M,97.377358,97.179441,531,6.79,0.0475
3,M_BONOS_181213,2016-12-30,M,103.337657,102.98349,713,6.86,0.085
4,M_BONOS_191211,2016-12-30,M,95.023870,94.815537,1076,6.95,0.05
...,...,...,...,...,...,...,...,...
12772,M_BONOS_341123,2019-11-30,M,108.781739,105.122017,5472,7.19,0.0775
12773,M_BONOS_361120,2019-11-30,M,131.635306,126.913084,6200,7.24,0.1
12774,M_BONOS_381118,2019-11-30,M,116.533701,112.519812,6928,7.28,0.085
12775,M_BONOS_421113,2019-11-30,M,108.313237,104.653515,8384,7.33,0.0775
12776,M_BONOS_471107,2019-11-30,M,111.599138,107.82136,10204,7.34,0.08

In [19]:
MA_AGRUPADO = MA.groupby("INSTRUMENTO")

In [20]:
MA_AGRUPADO.mean()

                PRECIO SUCIO  DIAS X VENCER  RENDIMIENTO
INSTRUMENTO
M_BONOS_170615    101.025031      83.547826     6.553391
M_BONOS_171214    102.492044     174.543210     6.832263
M_BONOS_180614     99.643789     266.307065     7.178478
M_BONOS_181213    103.412292     356.177062     7.390744
M_BONOS_191211     98.004815     549.732240     7.551352
M_BONOS_200611    103.221030     732.732240     7.427145
M_BONOS_210610     99.279912    1096.732240     7.429167
M_BONOS_211209    100.286415    1044.975430     7.731278
M_BONOS_220609     98.506955    1460.732240     7.442404
M_BONOS_230309    101.143855    1224.382353     6.676176
M_BONOS_231207    104.525829    2006.732240     7.460861
M_BONOS_240905    104.467085    1879.271186     7.345254
M_BONOS_241205    115.518571    2370.732240     7.476421
M_BONOS_260305     91.235910    2825.732240     7.525724
M_BONOS_270603    101.470858    3280.732240     7.582664
M_BONOS_290531    108.629579    4008.732240     7.641011
M_BONOS_310529    102.364633    4736.732240     7.717814
M_BONOS_341123    101.757384    6010.732240     7.791612
M_BONOS_361120    123.744733    6738.732240     7.840710
M_BONOS_381118    108.715386    7466.732240     7.874590
M_BONOS_421113    100.667453    8922.732240     7.892582
M_BONOS_471107    103.246750   10711.087209     7.910959

In [21]:
MA_AGRUPADO.sum()[['DIAS X VENCER','RENDIMIENTO']]

                DIAS X VENCER  RENDIMIENTO
INSTRUMENTO
M_BONOS_170615           9608       753.64
M_BONOS_171214          42414      1660.24
M_BONOS_180614          98001      2641.68
M_BONOS_181213         177020      3673.20
M_BONOS_191211         402404      5527.59
M_BONOS_200611         536360      5436.67
M_BONOS_210610         802808      5438.15
M_BONOS_211209         425305      3146.63
M_BONOS_220609        1069256      5447.84
M_BONOS_230309          41629       226.99
M_BONOS_231207        1468928      5461.35
M_BONOS_240905         332631      1300.11
M_BONOS_241205        1735376      5472.74
M_BONOS_260305        2068436      5508.83
M_BONOS_270603        2401496      5550.51
M_BONOS_290531        2934392      5593.22
M_BONOS_310529        3467288      5649.44
M_BONOS_341123        4399856      5703.46
M_BONOS_361120        4932752      5739.40
M_BONOS_381118        5465648      5764.20
M_BONOS_421113        6531440      5777.37
M_BONOS_471107        7369228      5442.74

In [22]:
MA_AGRUPADO[['DIAS X VENCER','RENDIMIENTO']].sum()

                DIAS X VENCER  RENDIMIENTO
INSTRUMENTO
M_BONOS_170615           9608       753.64
M_BONOS_171214          42414      1660.24
M_BONOS_180614          98001      2641.68
M_BONOS_181213         177020      3673.20
M_BONOS_191211         402404      5527.59
M_BONOS_200611         536360      5436.67
M_BONOS_210610         802808      5438.15
M_BONOS_211209         425305      3146.63
M_BONOS_220609        1069256      5447.84
M_BONOS_230309          41629       226.99
M_BONOS_231207        1468928      5461.35
M_BONOS_240905         332631      1300.11
M_BONOS_241205        1735376      5472.74
M_BONOS_260305        2068436      5508.83
M_BONOS_270603        2401496      5550.51
M_BONOS_290531        2934392      5593.22
M_BONOS_310529        3467288      5649.44
M_BONOS_341123        4399856      5703.46
M_BONOS_361120        4932752      5739.40
M_BONOS_381118        5465648      5764.20
M_BONOS_421113        6531440      5777.37
M_BONOS_471107        7369228      5442.74

In [23]:
MR = MA_AGRUPADO.sum()["RENDIMIENTO"]

In [24]:
MR

INSTRUMENTO
M_BONOS_170615     753.64
M_BONOS_171214    1660.24
M_BONOS_180614    2641.68
M_BONOS_181213    3673.20
M_BONOS_191211    5527.59
M_BONOS_200611    5436.67
M_BONOS_210610    5438.15
M_BONOS_211209    3146.63
M_BONOS_220609    5447.84
M_BONOS_230309     226.99
M_BONOS_231207    5461.35
M_BONOS_240905    1300.11
M_BONOS_241205    5472.74
M_BONOS_260305    5508.83
M_BONOS_270603    5550.51
M_BONOS_290531    5593.22
M_BONOS_310529    5649.44
M_BONOS_341123    5703.46
M_BONOS_361120    5739.40
M_BONOS_381118    5764.20
M_BONOS_421113    5777.37
M_BONOS_471107    5442.74
Name: RENDIMIENTO, dtype: float64

In [25]:
MR = MA_AGRUPADO["RENDIMIENTO"].sum()

In [26]:
MR

INSTRUMENTO
M_BONOS_170615     753.64
M_BONOS_171214    1660.24
M_BONOS_180614    2641.68
M_BONOS_181213    3673.20
M_BONOS_191211    5527.59
M_BONOS_200611    5436.67
M_BONOS_210610    5438.15
M_BONOS_211209    3146.63
M_BONOS_220609    5447.84
M_BONOS_230309     226.99
M_BONOS_231207    5461.35
M_BONOS_240905    1300.11
M_BONOS_241205    5472.74
M_BONOS_260305    5508.83
M_BONOS_270603    5550.51
M_BONOS_290531    5593.22
M_BONOS_310529    5649.44
M_BONOS_341123    5703.46
M_BONOS_361120    5739.40
M_BONOS_381118    5764.20
M_BONOS_421113    5777.37
M_BONOS_471107    5442.74
Name: RENDIMIENTO, dtype: float64

In [27]:
MR.to_frame()

                RENDIMIENTO
INSTRUMENTO
M_BONOS_170615       753.64
M_BONOS_171214      1660.24
M_BONOS_180614      2641.68
M_BONOS_181213      3673.20
M_BONOS_191211      5527.59
M_BONOS_200611      5436.67
M_BONOS_210610      5438.15
M_BONOS_211209      3146.63
M_BONOS_220609      5447.84
M_BONOS_230309       226.99
M_BONOS_231207      5461.35
M_BONOS_240905      1300.11
M_BONOS_241205      5472.74
M_BONOS_260305      5508.83
M_BONOS_270603      5550.51
M_BONOS_290531      5593.22
M_BONOS_310529      5649.44
M_BONOS_341123      5703.46
M_BONOS_361120      5739.40
M_BONOS_381118      5764.20
M_BONOS_421113      5777.37
M_BONOS_471107      5442.74

In [28]:
MA.groupby(['FECHA','INSTRUMENTO']).max()

                          TIPO VALOR  PRECIO SUCIO PRECIO LIMPIO  \
FECHA      INSTRUMENTO
2016-12-30 M_BONOS_170615          M     99.651517     99.443184
           M_BONOS_171214          M    101.539659    101.216742
           M_BONOS_180614          M     97.377358     97.179441
           M_BONOS_181213          M    103.337657     102.98349
           M_BONOS_191211          M     95.023870     94.815537
...                              ...           ...           ...
2019-11-30 M_BONOS_341123          M    108.781739    105.122017
           M_BONOS_361120          M    131.635306    126.913084
           M_BONOS_381118          M    116.533701    112.519812
           M_BONOS_421113          M    108.313237    104.653515
           M_BONOS_471107          M    111.599138     107.82136

                           DIAS X VENCER  RENDIMIENTO TASA CUPON
FECHA      INSTRUMENTO
2016-12-30 M_BONOS_170615            167         6.23       0.05
           M_BONOS_171214            349         6.43     0.0775
           M_BONOS_180614            531         6.79     0.0475
           M_BONOS_181213            713         6.86      0.085
           M_BONOS_191211           1076         6.95       0.05
...                                  ...          ...        ...
2019-11-30 M_BONOS_341123           5472         7.19     0.0775
           M_BONOS_361120           6200         7.24        0.1
           M_BONOS_381118           6928         7.28      0.085
           M_BONOS_421113           8384         7.33     0.0775
           M_BONOS_471107          10204         7.34       0.08

[12777 rows x 6 columns]

In [29]:
MA.groupby(['FECHA','INSTRUMENTO']).max()['TASA CUPON']

FECHA       INSTRUMENTO
2016-12-30  M_BONOS_170615      0.05
            M_BONOS_171214    0.0775
            M_BONOS_180614    0.0475
            M_BONOS_181213     0.085
            M_BONOS_191211      0.05
                               ...
2019-11-30  M_BONOS_341123    0.0775
            M_BONOS_361120       0.1
            M_BONOS_381118     0.085
            M_BONOS_421113    0.0775
            M_BONOS_471107      0.08
Name: TASA CUPON, Length: 12777, dtype: object

In [30]:
MA.groupby(["FECHA","INSTRUMENTO"]).agg(MIN_RENDIMIENTO=('RENDIMIENTO','min'), 
                                        MAX_DIAS_X_VENCER=('DIAS X VENCER','max'))

                           MIN_RENDIMIENTO  MAX_DIAS_X_VENCER
FECHA      INSTRUMENTO
2016-12-30 M_BONOS_170615             6.23                167
           M_BONOS_171214             6.43                349
           M_BONOS_180614             6.79                531
           M_BONOS_181213             6.86                713
           M_BONOS_191211             6.95               1076
...                                    ...                ...
2019-11-30 M_BONOS_341123             7.19               5472
           M_BONOS_361120             7.24               6200
           M_BONOS_381118             7.28               6928
           M_BONOS_421113             7.33               8384
           M_BONOS_471107             7.34              10204

[12777 rows x 2 columns]

In [31]:
##Desde la versión 0.25.0 de Julio 2019
MA.groupby(["FECHA","INSTRUMENTO"]).agg(MIN_RENDIMIENTO=pd.NamedAgg(column='RENDIMIENTO', aggfunc='min'), 
                                        MAX_DIAS_X_VENCER=pd.NamedAgg(column='DIAS X VENCER', aggfunc='max'))

                           MIN_RENDIMIENTO  MAX_DIAS_X_VENCER
FECHA      INSTRUMENTO
2016-12-30 M_BONOS_170615             6.23                167
           M_BONOS_171214             6.43                349
           M_BONOS_180614             6.79                531
           M_BONOS_181213             6.86                713
           M_BONOS_191211             6.95               1076
...                                    ...                ...
2019-11-30 M_BONOS_341123             7.19               5472
           M_BONOS_361120             7.24               6200
           M_BONOS_381118             7.28               6928
           M_BONOS_421113             7.33               8384
           M_BONOS_471107             7.34              10204

[12777 rows x 2 columns]

Funciones de agregación aplicables a objetos agrupados: https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html

# Tablas dinámicas

Función pivot

Esta función cambia la forma de los datos en función de los valores de las columnas. Utiliza valores únicos de índices y columnas especificadas para formar ejes del DataFrame resultante. 
Esta función no admite la agregación de datos, varios valores darán como resultado un índice múltiple en las columnas.

In [32]:
tabla = pd.pivot(MA,columns='INSTRUMENTO',values=['RENDIMIENTO'], index = 'FECHA')
tabla

               RENDIMIENTO                                               \
INSTRUMENTO M_BONOS_170615 M_BONOS_171214 M_BONOS_180614 M_BONOS_181213
FECHA
2016-12-30            6.23           6.43           6.79           6.86
2017-01-02            6.23           6.41           6.79           6.86
2017-01-03            6.23           6.45           6.87           6.91
2017-01-04            6.30           6.49           6.88           6.94
2017-01-05            6.44           6.61           7.05           7.11
...                    ...            ...            ...            ...
2019-11-26             NaN            NaN            NaN            NaN
2019-11-27             NaN            NaN            NaN            NaN
2019-11-28             NaN            NaN            NaN            NaN
2019-11-29             NaN            NaN            NaN            NaN
2019-11-30             NaN            NaN            NaN            NaN

                                                                         \
INSTRUMENTO M_BONOS_191211 M_BONOS_200611 M_BONOS_210610 M_BONOS_211209
FECHA
2016-12-30            6.95           7.06           7.17            NaN
2017-01-02            6.97           7.08           7.18            NaN
2017-01-03            7.01           7.14           7.27            NaN
2017-01-04            7.04           7.19           7.30            NaN
2017-01-05            7.23           7.37           7.45            NaN
...                    ...            ...            ...            ...
2019-11-26            7.60           6.73           6.81           6.85
2019-11-27            7.53           6.72           6.80           6.84
2019-11-28            7.60           6.70           6.78           6.81
2019-11-29            7.60           6.68           6.75           6.79
2019-11-30            7.60           6.68           6.75           6.79

                                           ...                                \
INSTRUMENTO M_BONOS_220609 M_BONOS_230309  ... M_BONOS_241205 M_BONOS_260305
FECHA                                      ...
2016-12-30            7.28            NaN  ...           7.39           7.44
2017-01-02            7.28            NaN  ...           7.38           7.45
2017-01-03            7.35            NaN  ...           7.51           7.57
2017-01-04            7.38            NaN  ...           7.60           7.65
2017-01-05            7.55            NaN  ...           7.71           7.77
...                    ...            ...  ...            ...            ...
2019-11-26            6.85           6.88  ...           6.99           7.04
2019-11-27            6.84           6.86  ...           6.96           6.99
2019-11-28            6.80           6.82  ...           6.96           6.98
2019-11-29            6.78           6.83  ...           6.95           6.98
2019-11-30            6.78           6.83  ...           6.95           6.98

                                                                         \
INSTRUMENTO M_BONOS_270603 M_BONOS_290531 M_BONOS_310529 M_BONOS_341123
FECHA
2016-12-30            7.56           7.68           7.75           7.83
2017-01-02            7.56           7.68           7.75           7.83
2017-01-03            7.68           7.78           7.85           7.96
2017-01-04            7.75           7.86           7.96           8.06
2017-01-05            7.87           7.95           8.06           8.14
...                    ...            ...            ...            ...
2019-11-26            7.09           7.13           7.17           7.24
2019-11-27            7.06           7.10           7.16           7.23
2019-11-28            7.04           7.08           7.14           7.21
2019-11-29            7.03           7.08           7.11           7.19
2019-11-30            7.03           7.08           7.11           7.19


INSTRUMENTO M_BONOS_361120 M_BONOS_381118 M_BONOS_421113 M_BONOS_471107
FECHA
2016-12-30            7.86           7.91           7.82            NaN
2017-01-02            7.86           7.91           7.83            NaN
2017-01-03            8.00           8.02           7.98            NaN
2017-01-04            8.07           8.08           8.04            NaN
2017-01-05            8.14           8.17           8.11            NaN
...                    ...            ...            ...            ...
2019-11-26            7.28           7.34           7.40           7.40
2019-11-27            7.26           7.31           7.36           7.36
2019-11-28            7.24           7.29           7.36           7.36
2019-11-29            7.24           7.28           7.33           7.34
2019-11-30            7.24           7.28           7.33           7.34

[732 rows x 22 columns]

In [33]:
MA

,INSTRUMENTO,FECHA,TIPO VALOR,PRECIO SUCIO,PRECIO LIMPIO,DIAS X VENCER,RENDIMIENTO,TASA CUPON
0,M_BONOS_170615,2016-12-30,M,99.651517,99.443184,167,6.23,0.05
1,M_BONOS_171214,2016-12-30,M,101.539659,101.216742,349,6.43,0.0775
2,M_BONOS_180614,2016-12-30,M,97.377358,97.179441,531,6.79,0.0475
3,M_BONOS_181213,2016-12-30,M,103.337657,102.98349,713,6.86,0.085
4,M_BONOS_191211,2016-12-30,M,95.023870,94.815537,1076,6.95,0.05
...,...,...,...,...,...,...,...,...
12772,M_BONOS_341123,2019-11-30,M,108.781739,105.122017,5472,7.19,0.0775
12773,M_BONOS_361120,2019-11-30,M,131.635306,126.913084,6200,7.24,0.1
12774,M_BONOS_381118,2019-11-30,M,116.533701,112.519812,6928,7.28,0.085
12775,M_BONOS_421113,2019-11-30,M,108.313237,104.653515,8384,7.33,0.0775
12776,M_BONOS_471107,2019-11-30,M,111.599138,107.82136,10204,7.34,0.08

In [35]:
tabla2 = pd.pivot(MA,columns='INSTRUMENTO',values=['RENDIMIENTO'], index = 'TIPO VALOR')
tabla2

ValueError: Index contains duplicate entries, cannot reshape

Función pivot_table

Crea una tabla dinámica al estilo de una hoja de cálculo como un DataFrame.

In [36]:
tabla_agr = pd.pivot_table(MA,columns='INSTRUMENTO',values='RENDIMIENTO', index = 'TIPO VALOR',aggfunc = 'max')
tabla_agr

INSTRUMENTO,M_BONOS_170615,M_BONOS_171214,M_BONOS_180614,M_BONOS_181213,M_BONOS_191211,M_BONOS_200611,M_BONOS_210610,M_BONOS_211209,M_BONOS_220609,M_BONOS_230309,...,M_BONOS_241205,M_BONOS_260305,M_BONOS_270603,M_BONOS_290531,M_BONOS_310529,M_BONOS_341123,M_BONOS_361120,M_BONOS_381118,M_BONOS_421113,M_BONOS_471107
TIPO VALOR,,,,,,,,,,,,,,,,,,,,,
M,6.84,7.32,7.76,8.33,8.64,8.62,8.83,8.88,8.91,6.88,...,9.07,9.16,9.23,9.36,9.51,9.62,9.67,9.79,9.8,9.83

In [37]:
tabla_agr = pd.pivot_table(MA,columns='INSTRUMENTO',values=['RENDIMIENTO','PRECIO SUCIO'], index = 'FECHA',aggfunc = 'min')
tabla_agr

              PRECIO SUCIO                                               \
INSTRUMENTO M_BONOS_170615 M_BONOS_171214 M_BONOS_180614 M_BONOS_181213
FECHA
2016-12-30       99.651517     101.539659      97.377358     103.337657
2017-01-02       99.702468     101.611759      97.431548     103.395747
2017-01-03       99.719458     101.592587      97.342066     103.322724
2017-01-04       99.706002     101.573645      97.346919     103.286908
2017-01-05       99.662708     101.481530      97.138042     102.994191
...                    ...            ...            ...            ...
2019-11-26             NaN            NaN            NaN            NaN
2019-11-27             NaN            NaN            NaN            NaN
2019-11-28             NaN            NaN            NaN            NaN
2019-11-29             NaN            NaN            NaN            NaN
2019-11-30             NaN            NaN            NaN            NaN

                                                                         \
INSTRUMENTO M_BONOS_191211 M_BONOS_200611 M_BONOS_210610 M_BONOS_211209
FECHA
2016-12-30       95.023870     103.196129      97.724242            NaN
2017-01-02       95.026665     103.193846      97.744318            NaN
2017-01-03       94.942311     103.028326      97.428734            NaN
2017-01-04       94.883802     102.894273      97.336844            NaN
2017-01-05       94.418550     102.362336      96.802741            NaN
...                    ...            ...            ...            ...
2019-11-26      102.195837     104.357976     102.540971     104.096696
2019-11-27      102.219690     104.382490     102.574555     104.135215
2019-11-28      102.238187     104.412254     102.622589     104.211755
2019-11-29      102.259368     104.441915     102.685015     104.269171
2019-11-30      102.280554     104.460976     102.703949     104.288509

                                           ...    RENDIMIENTO                 \
INSTRUMENTO M_BONOS_220609 M_BONOS_230309  ... M_BONOS_241205 M_BONOS_260305
FECHA                                      ...
2016-12-30       96.772990            NaN  ...           7.39           7.44
2017-01-02       96.830661            NaN  ...           7.38           7.45
2017-01-03       96.544094            NaN  ...           7.51           7.57
2017-01-04       96.432803            NaN  ...           7.60           7.65
2017-01-05       95.716213            NaN  ...           7.71           7.77
...                    ...            ...  ...            ...            ...
2019-11-26      102.180094     101.011047  ...           6.99           7.04
2019-11-27      102.222296     101.088535  ...           6.96           6.99
2019-11-28      102.333712     101.224531  ...           6.96           6.98
2019-11-29      102.398873     101.214128  ...           6.95           6.98
2019-11-30      102.417837     101.233008  ...           6.95           6.98

                                                                         \
INSTRUMENTO M_BONOS_270603 M_BONOS_290531 M_BONOS_310529 M_BONOS_341123
FECHA
2016-12-30            7.56           7.68           7.75           7.83
2017-01-02            7.56           7.68           7.75           7.83
2017-01-03            7.68           7.78           7.85           7.96
2017-01-04            7.75           7.86           7.96           8.06
2017-01-05            7.87           7.95           8.06           8.14
...                    ...            ...            ...            ...
2019-11-26            7.09           7.13           7.17           7.24
2019-11-27            7.06           7.10           7.16           7.23
2019-11-28            7.04           7.08           7.14           7.21
2019-11-29            7.03           7.08           7.11           7.19
2019-11-30            7.03           7.08           7.11           7.19


INSTRUMENTO M_BONOS_361120 M_BONOS_381118 M_BONOS_421113 M_BONOS_471107
FECHA
2016-12-30            7.86           7.91           7.82            NaN
2017-01-02            7.86           7.91           7.83            NaN
2017-01-03            8.00           8.02           7.98            NaN
2017-01-04            8.07           8.08           8.04            NaN
2017-01-05            8.14           8.17           8.11            NaN
...                    ...            ...            ...            ...
2019-11-26            7.28           7.34           7.40           7.40
2019-11-27            7.26           7.31           7.36           7.36
2019-11-28            7.24           7.29           7.36           7.36
2019-11-29            7.24           7.28           7.33           7.34
2019-11-30            7.24           7.28           7.33           7.34

[732 rows x 44 columns]

In [38]:
tabla_agr = pd.pivot_table(MA,columns='INSTRUMENTO',values=['RENDIMIENTO','PRECIO SUCIO'], 
                           index = 'FECHA',aggfunc = 'min', dropna = True)
tabla_agr

              PRECIO SUCIO                                               \
INSTRUMENTO M_BONOS_170615 M_BONOS_171214 M_BONOS_180614 M_BONOS_181213
FECHA
2016-12-30       99.651517     101.539659      97.377358     103.337657
2017-01-02       99.702468     101.611759      97.431548     103.395747
2017-01-03       99.719458     101.592587      97.342066     103.322724
2017-01-04       99.706002     101.573645      97.346919     103.286908
2017-01-05       99.662708     101.481530      97.138042     102.994191
...                    ...            ...            ...            ...
2019-11-26             NaN            NaN            NaN            NaN
2019-11-27             NaN            NaN            NaN            NaN
2019-11-28             NaN            NaN            NaN            NaN
2019-11-29             NaN            NaN            NaN            NaN
2019-11-30             NaN            NaN            NaN            NaN

                                                                         \
INSTRUMENTO M_BONOS_191211 M_BONOS_200611 M_BONOS_210610 M_BONOS_211209
FECHA
2016-12-30       95.023870     103.196129      97.724242            NaN
2017-01-02       95.026665     103.193846      97.744318            NaN
2017-01-03       94.942311     103.028326      97.428734            NaN
2017-01-04       94.883802     102.894273      97.336844            NaN
2017-01-05       94.418550     102.362336      96.802741            NaN
...                    ...            ...            ...            ...
2019-11-26      102.195837     104.357976     102.540971     104.096696
2019-11-27      102.219690     104.382490     102.574555     104.135215
2019-11-28      102.238187     104.412254     102.622589     104.211755
2019-11-29      102.259368     104.441915     102.685015     104.269171
2019-11-30      102.280554     104.460976     102.703949     104.288509

                                           ...    RENDIMIENTO                 \
INSTRUMENTO M_BONOS_220609 M_BONOS_230309  ... M_BONOS_241205 M_BONOS_260305
FECHA                                      ...
2016-12-30       96.772990            NaN  ...           7.39           7.44
2017-01-02       96.830661            NaN  ...           7.38           7.45
2017-01-03       96.544094            NaN  ...           7.51           7.57
2017-01-04       96.432803            NaN  ...           7.60           7.65
2017-01-05       95.716213            NaN  ...           7.71           7.77
...                    ...            ...  ...            ...            ...
2019-11-26      102.180094     101.011047  ...           6.99           7.04
2019-11-27      102.222296     101.088535  ...           6.96           6.99
2019-11-28      102.333712     101.224531  ...           6.96           6.98
2019-11-29      102.398873     101.214128  ...           6.95           6.98
2019-11-30      102.417837     101.233008  ...           6.95           6.98

                                                                         \
INSTRUMENTO M_BONOS_270603 M_BONOS_290531 M_BONOS_310529 M_BONOS_341123
FECHA
2016-12-30            7.56           7.68           7.75           7.83
2017-01-02            7.56           7.68           7.75           7.83
2017-01-03            7.68           7.78           7.85           7.96
2017-01-04            7.75           7.86           7.96           8.06
2017-01-05            7.87           7.95           8.06           8.14
...                    ...            ...            ...            ...
2019-11-26            7.09           7.13           7.17           7.24
2019-11-27            7.06           7.10           7.16           7.23
2019-11-28            7.04           7.08           7.14           7.21
2019-11-29            7.03           7.08           7.11           7.19
2019-11-30            7.03           7.08           7.11           7.19


INSTRUMENTO M_BONOS_361120 M_BONOS_381118 M_BONOS_421113 M_BONOS_471107
FECHA
2016-12-30            7.86           7.91           7.82            NaN
2017-01-02            7.86           7.91           7.83            NaN
2017-01-03            8.00           8.02           7.98            NaN
2017-01-04            8.07           8.08           8.04            NaN
2017-01-05            8.14           8.17           8.11            NaN
...                    ...            ...            ...            ...
2019-11-26            7.28           7.34           7.40           7.40
2019-11-27            7.26           7.31           7.36           7.36
2019-11-28            7.24           7.29           7.36           7.36
2019-11-29            7.24           7.28           7.33           7.34
2019-11-30            7.24           7.28           7.33           7.34

[732 rows x 44 columns]

In [39]:
tabla_agr = pd.pivot_table(MA,columns='INSTRUMENTO',values=['RENDIMIENTO','PRECIO SUCIO'], 
                           index = 'FECHA',aggfunc = 'min', fill_value = 0)
tabla_agr

              PRECIO SUCIO                                               \
INSTRUMENTO M_BONOS_170615 M_BONOS_171214 M_BONOS_180614 M_BONOS_181213
FECHA
2016-12-30       99.651517     101.539659      97.377358     103.337657
2017-01-02       99.702468     101.611759      97.431548     103.395747
2017-01-03       99.719458     101.592587      97.342066     103.322724
2017-01-04       99.706002     101.573645      97.346919     103.286908
2017-01-05       99.662708     101.481530      97.138042     102.994191
...                    ...            ...            ...            ...
2019-11-26        0.000000       0.000000       0.000000       0.000000
2019-11-27        0.000000       0.000000       0.000000       0.000000
2019-11-28        0.000000       0.000000       0.000000       0.000000
2019-11-29        0.000000       0.000000       0.000000       0.000000
2019-11-30        0.000000       0.000000       0.000000       0.000000

                                                                         \
INSTRUMENTO M_BONOS_191211 M_BONOS_200611 M_BONOS_210610 M_BONOS_211209
FECHA
2016-12-30       95.023870     103.196129      97.724242       0.000000
2017-01-02       95.026665     103.193846      97.744318       0.000000
2017-01-03       94.942311     103.028326      97.428734       0.000000
2017-01-04       94.883802     102.894273      97.336844       0.000000
2017-01-05       94.418550     102.362336      96.802741       0.000000
...                    ...            ...            ...            ...
2019-11-26      102.195837     104.357976     102.540971     104.096696
2019-11-27      102.219690     104.382490     102.574555     104.135215
2019-11-28      102.238187     104.412254     102.622589     104.211755
2019-11-29      102.259368     104.441915     102.685015     104.269171
2019-11-30      102.280554     104.460976     102.703949     104.288509

                                           ...    RENDIMIENTO                 \
INSTRUMENTO M_BONOS_220609 M_BONOS_230309  ... M_BONOS_241205 M_BONOS_260305
FECHA                                      ...
2016-12-30       96.772990       0.000000  ...           7.39           7.44
2017-01-02       96.830661       0.000000  ...           7.38           7.45
2017-01-03       96.544094       0.000000  ...           7.51           7.57
2017-01-04       96.432803       0.000000  ...           7.60           7.65
2017-01-05       95.716213       0.000000  ...           7.71           7.77
...                    ...            ...  ...            ...            ...
2019-11-26      102.180094     101.011047  ...           6.99           7.04
2019-11-27      102.222296     101.088535  ...           6.96           6.99
2019-11-28      102.333712     101.224531  ...           6.96           6.98
2019-11-29      102.398873     101.214128  ...           6.95           6.98
2019-11-30      102.417837     101.233008  ...           6.95           6.98

                                                                         \
INSTRUMENTO M_BONOS_270603 M_BONOS_290531 M_BONOS_310529 M_BONOS_341123
FECHA
2016-12-30            7.56           7.68           7.75           7.83
2017-01-02            7.56           7.68           7.75           7.83
2017-01-03            7.68           7.78           7.85           7.96
2017-01-04            7.75           7.86           7.96           8.06
2017-01-05            7.87           7.95           8.06           8.14
...                    ...            ...            ...            ...
2019-11-26            7.09           7.13           7.17           7.24
2019-11-27            7.06           7.10           7.16           7.23
2019-11-28            7.04           7.08           7.14           7.21
2019-11-29            7.03           7.08           7.11           7.19
2019-11-30            7.03           7.08           7.11           7.19


INSTRUMENTO M_BONOS_361120 M_BONOS_381118 M_BONOS_421113 M_BONOS_471107
FECHA
2016-12-30            7.86           7.91           7.82           0.00
2017-01-02            7.86           7.91           7.83           0.00
2017-01-03            8.00           8.02           7.98           0.00
2017-01-04            8.07           8.08           8.04           0.00
2017-01-05            8.14           8.17           8.11           0.00
...                    ...            ...            ...            ...
2019-11-26            7.28           7.34           7.40           7.40
2019-11-27            7.26           7.31           7.36           7.36
2019-11-28            7.24           7.29           7.36           7.36
2019-11-29            7.24           7.28           7.33           7.34
2019-11-30            7.24           7.28           7.33           7.34

[732 rows x 44 columns]

In [40]:
tabla_agr = pd.pivot_table(MA,columns='INSTRUMENTO',values=['RENDIMIENTO','PRECIO SUCIO'], 
                           index = 'TIPO VALOR',aggfunc = 'min', fill_value = 0, 
                           margins = True, margins_name = 'TOTAL')
tabla_agr

              PRECIO SUCIO                                               \
INSTRUMENTO M_BONOS_170615 M_BONOS_171214 M_BONOS_180614 M_BONOS_181213
TIPO VALOR
M                99.651517     100.400523      97.138042     100.262439
TOTAL            99.651517     100.400523      97.138042     100.262439

                                                                         \
INSTRUMENTO M_BONOS_191211 M_BONOS_200611 M_BONOS_210610 M_BONOS_211209
TIPO VALOR
M                 94.41855      99.246955      95.211423      96.027984
TOTAL             94.41855      99.246955      95.211423      96.027984

                                           ...    RENDIMIENTO                 \
INSTRUMENTO M_BONOS_220609 M_BONOS_230309  ... M_BONOS_260305 M_BONOS_270603
TIPO VALOR                                 ...
M                93.135275     100.381537  ...           6.62           6.66
TOTAL            93.135275     100.381537  ...           6.62           6.66

                                                                         \
INSTRUMENTO M_BONOS_290531 M_BONOS_310529 M_BONOS_341123 M_BONOS_361120
TIPO VALOR
M                     6.72           6.79           6.89           6.96
TOTAL                 6.72           6.79           6.89           6.96


INSTRUMENTO M_BONOS_381118 M_BONOS_421113 M_BONOS_471107 TOTAL
TIPO VALOR
M                     7.04           7.08            7.1  6.23
TOTAL                 7.04           7.08            7.1  6.23

[2 rows x 46 columns]

In [41]:
tabla_agr = pd.pivot_table(MA,columns=['TIPO VALOR'],values=['RENDIMIENTO'], 
                           index = 'INSTRUMENTO',aggfunc = 'min')
tabla_agr

               RENDIMIENTO
TIPO VALOR               M
INSTRUMENTO
M_BONOS_170615        6.23
M_BONOS_171214        6.40
M_BONOS_180614        6.56
M_BONOS_181213        6.62
M_BONOS_191211        6.46
M_BONOS_200611        6.46
M_BONOS_210610        6.47
M_BONOS_211209        6.49
M_BONOS_220609        6.46
M_BONOS_230309        6.50
M_BONOS_231207        6.53
M_BONOS_240905        6.59
M_BONOS_241205        6.57
M_BONOS_260305        6.62
M_BONOS_270603        6.66
M_BONOS_290531        6.72
M_BONOS_310529        6.79
M_BONOS_341123        6.89
M_BONOS_361120        6.96
M_BONOS_381118        7.04
M_BONOS_421113        7.08
M_BONOS_471107        7.10

In [42]:
tabla_agr = pd.pivot_table(MA,columns='TIPO VALOR',values=['DIAS X VENCER','RENDIMIENTO'], 
                           index = 'INSTRUMENTO',aggfunc = ['min','max','std'])
tabla_agr

                         min                       max              \
               DIAS X VENCER RENDIMIENTO DIAS X VENCER RENDIMIENTO
TIPO VALOR                 M           M             M           M
INSTRUMENTO
M_BONOS_170615             1        6.23           167        6.84
M_BONOS_171214             1        6.40           349        7.32
M_BONOS_180614             1        6.56           531        7.76
M_BONOS_181213             2        6.62           713        8.33
M_BONOS_191211            11        6.46          1076        8.64
M_BONOS_200611           194        6.46          1259        8.62
M_BONOS_210610           558        6.47          1623        8.83
M_BONOS_211209           740        6.49          1336        8.88
M_BONOS_220609           922        6.46          1987        8.91
M_BONOS_230309          1195        6.50          1259        6.88
M_BONOS_231207          1468        6.53          2533        9.02
M_BONOS_240905          1741        6.59          2008        7.99
M_BONOS_241205          1832        6.57          2897        9.07
M_BONOS_260305          2287        6.62          3352        9.16
M_BONOS_270603          2742        6.66          3807        9.23
M_BONOS_290531          3470        6.72          4535        9.36
M_BONOS_310529          4198        6.79          5263        9.51
M_BONOS_341123          5472        6.89          6537        9.62
M_BONOS_361120          6200        6.96          7265        9.67
M_BONOS_381118          6928        7.04          7993        9.79
M_BONOS_421113          8384        7.08          9449        9.80
M_BONOS_471107         10204        7.10         11206        9.83

                         std
               DIAS X VENCER RENDIMIENTO
TIPO VALOR                 M           M
INSTRUMENTO
M_BONOS_170615     48.872236    0.150705
M_BONOS_171214    100.091741    0.240056
M_BONOS_180614    153.065838    0.364187
M_BONOS_181213    205.674600    0.462139
M_BONOS_191211    304.402650    0.564688
M_BONOS_200611    304.402650    0.535501
M_BONOS_210610    304.402650    0.547266
M_BONOS_211209    170.201140    0.550055
M_BONOS_220609    304.402650    0.555128
M_BONOS_230309     21.756246    0.099636
M_BONOS_231207    304.402650    0.552882
M_BONOS_240905     75.308418    0.475110
M_BONOS_241205    304.402650    0.552745
M_BONOS_260305    304.402650    0.558763
M_BONOS_270603    304.402650    0.560217
M_BONOS_290531    304.402650    0.559016
M_BONOS_310529    304.402650    0.559793
M_BONOS_341123    304.402650    0.561822
M_BONOS_361120    304.402650    0.548736
M_BONOS_381118    304.402650    0.555323
M_BONOS_421113    304.402650    0.551105
M_BONOS_471107    286.164184    0.565038

Documentación en:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot_table.html

In [43]:
tabla_agr.iloc[:, tabla_agr.columns.get_level_values(1)=='RENDIMIENTO']

                       min         max         std
               RENDIMIENTO RENDIMIENTO RENDIMIENTO
TIPO VALOR               M           M           M
INSTRUMENTO
M_BONOS_170615        6.23        6.84    0.150705
M_BONOS_171214        6.40        7.32    0.240056
M_BONOS_180614        6.56        7.76    0.364187
M_BONOS_181213        6.62        8.33    0.462139
M_BONOS_191211        6.46        8.64    0.564688
M_BONOS_200611        6.46        8.62    0.535501
M_BONOS_210610        6.47        8.83    0.547266
M_BONOS_211209        6.49        8.88    0.550055
M_BONOS_220609        6.46        8.91    0.555128
M_BONOS_230309        6.50        6.88    0.099636
M_BONOS_231207        6.53        9.02    0.552882
M_BONOS_240905        6.59        7.99    0.475110
M_BONOS_241205        6.57        9.07    0.552745
M_BONOS_260305        6.62        9.16    0.558763
M_BONOS_270603        6.66        9.23    0.560217
M_BONOS_290531        6.72        9.36    0.559016
M_BONOS_310529        6.79        9.51    0.559793
M_BONOS_341123        6.89        9.62    0.561822
M_BONOS_361120        6.96        9.67    0.548736
M_BONOS_381118        7.04        9.79    0.555323
M_BONOS_421113        7.08        9.80    0.551105
M_BONOS_471107        7.10        9.83    0.565038

In [44]:
pd.concat( [ tabla_agr.iloc[:, tabla_agr.columns.get_level_values(1)=='RENDIMIENTO'], 
             tabla_agr.iloc[:, tabla_agr.columns.get_level_values(1)=='DIAS X VENCER']], 
          axis = 1)

,min,max,std,min,max,std
,RENDIMIENTO,RENDIMIENTO,RENDIMIENTO,DIAS X VENCER,DIAS X VENCER,DIAS X VENCER
TIPO VALOR,M,M,M,M,M,M
INSTRUMENTO,,,,,,
M_BONOS_170615,6.23,6.84,0.150705,1,167,48.872236
M_BONOS_171214,6.40,7.32,0.240056,1,349,100.091741
M_BONOS_180614,6.56,7.76,0.364187,1,531,153.065838
M_BONOS_181213,6.62,8.33,0.462139,2,713,205.674600
M_BONOS_191211,6.46,8.64,0.564688,11,1076,304.402650
M_BONOS_200611,6.46,8.62,0.535501,194,1259,304.402650
M_BONOS_210610,6.47,8.83,0.547266,558,1623,304.402650
M_BONOS_211209,6.49,8.88,0.550055,740,1336,170.201140
M_BONOS_220609,6.46,8.91,0.555128,922,1987,304.402650
M_BONOS_230309,6.50,6.88,0.099636,1195,1259,21.756246
M_BONOS_231207,6.53,9.02,0.552882,1468,2533,304.402650
M_BONOS_240905,6.59,7.99,0.475110,1741,2008,75.308418
M_BONOS_241205,6.57,9.07,0.552745,1832,2897,304.402650
M_BONOS_260305,6.62,9.16,0.558763,2287,3352,304.402650
M_BONOS_270603,6.66,9.23,0.560217,2742,3807,304.402650
M_BONOS_290531,6.72,9.36,0.559016,3470,4535,304.402650
M_BONOS_310529,6.79,9.51,0.559793,4198,5263,304.402650
M_BONOS_341123,6.89,9.62,0.561822,5472,6537,304.402650
M_BONOS_361120,6.96,9.67,0.548736,6200,7265,304.402650
M_BONOS_381118,7.04,9.79,0.555323,6928,7993,304.402650
M_BONOS_421113,7.08,9.80,0.551105,8384,9449,304.402650
M_BONOS_471107,7.10,9.83,0.565038,10204,11206,286.164184

In [45]:
tabla_agr.reorder_levels([2,1,0],axis=1)

TIPO VALOR                 M                                        \
               DIAS X VENCER RENDIMIENTO DIAS X VENCER RENDIMIENTO
                         min         min           max         max
INSTRUMENTO
M_BONOS_170615             1        6.23           167        6.84
M_BONOS_171214             1        6.40           349        7.32
M_BONOS_180614             1        6.56           531        7.76
M_BONOS_181213             2        6.62           713        8.33
M_BONOS_191211            11        6.46          1076        8.64
M_BONOS_200611           194        6.46          1259        8.62
M_BONOS_210610           558        6.47          1623        8.83
M_BONOS_211209           740        6.49          1336        8.88
M_BONOS_220609           922        6.46          1987        8.91
M_BONOS_230309          1195        6.50          1259        6.88
M_BONOS_231207          1468        6.53          2533        9.02
M_BONOS_240905          1741        6.59          2008        7.99
M_BONOS_241205          1832        6.57          2897        9.07
M_BONOS_260305          2287        6.62          3352        9.16
M_BONOS_270603          2742        6.66          3807        9.23
M_BONOS_290531          3470        6.72          4535        9.36
M_BONOS_310529          4198        6.79          5263        9.51
M_BONOS_341123          5472        6.89          6537        9.62
M_BONOS_361120          6200        6.96          7265        9.67
M_BONOS_381118          6928        7.04          7993        9.79
M_BONOS_421113          8384        7.08          9449        9.80
M_BONOS_471107         10204        7.10         11206        9.83

TIPO VALOR
               DIAS X VENCER RENDIMIENTO
                         std         std
INSTRUMENTO
M_BONOS_170615     48.872236    0.150705
M_BONOS_171214    100.091741    0.240056
M_BONOS_180614    153.065838    0.364187
M_BONOS_181213    205.674600    0.462139
M_BONOS_191211    304.402650    0.564688
M_BONOS_200611    304.402650    0.535501
M_BONOS_210610    304.402650    0.547266
M_BONOS_211209    170.201140    0.550055
M_BONOS_220609    304.402650    0.555128
M_BONOS_230309     21.756246    0.099636
M_BONOS_231207    304.402650    0.552882
M_BONOS_240905     75.308418    0.475110
M_BONOS_241205    304.402650    0.552745
M_BONOS_260305    304.402650    0.558763
M_BONOS_270603    304.402650    0.560217
M_BONOS_290531    304.402650    0.559016
M_BONOS_310529    304.402650    0.559793
M_BONOS_341123    304.402650    0.561822
M_BONOS_361120    304.402650    0.548736
M_BONOS_381118    304.402650    0.555323
M_BONOS_421113    304.402650    0.551105
M_BONOS_471107    286.164184    0.565038

In [46]:
tabla_agr.swaplevel(0,1,axis=1).sort_index(1,ascending = False)

               RENDIMIENTO             DIAS X VENCER
                       std   min   max           std    min    max
TIPO VALOR               M     M     M             M      M      M
INSTRUMENTO
M_BONOS_170615    0.150705  6.23  6.84     48.872236      1    167
M_BONOS_171214    0.240056  6.40  7.32    100.091741      1    349
M_BONOS_180614    0.364187  6.56  7.76    153.065838      1    531
M_BONOS_181213    0.462139  6.62  8.33    205.674600      2    713
M_BONOS_191211    0.564688  6.46  8.64    304.402650     11   1076
M_BONOS_200611    0.535501  6.46  8.62    304.402650    194   1259
M_BONOS_210610    0.547266  6.47  8.83    304.402650    558   1623
M_BONOS_211209    0.550055  6.49  8.88    170.201140    740   1336
M_BONOS_220609    0.555128  6.46  8.91    304.402650    922   1987
M_BONOS_230309    0.099636  6.50  6.88     21.756246   1195   1259
M_BONOS_231207    0.552882  6.53  9.02    304.402650   1468   2533
M_BONOS_240905    0.475110  6.59  7.99     75.308418   1741   2008
M_BONOS_241205    0.552745  6.57  9.07    304.402650   1832   2897
M_BONOS_260305    0.558763  6.62  9.16    304.402650   2287   3352
M_BONOS_270603    0.560217  6.66  9.23    304.402650   2742   3807
M_BONOS_290531    0.559016  6.72  9.36    304.402650   3470   4535
M_BONOS_310529    0.559793  6.79  9.51    304.402650   4198   5263
M_BONOS_341123    0.561822  6.89  9.62    304.402650   5472   6537
M_BONOS_361120    0.548736  6.96  9.67    304.402650   6200   7265
M_BONOS_381118    0.555323  7.04  9.79    304.402650   6928   7993
M_BONOS_421113    0.551105  7.08  9.80    304.402650   8384   9449
M_BONOS_471107    0.565038  7.10  9.83    286.164184  10204  11206

In [47]:
tabla_agr.rename_axis(["FUNCION","METRICA","TIPO VALOR"], axis = 1)

FUNCION                  min                       max              \
METRICA        DIAS X VENCER RENDIMIENTO DIAS X VENCER RENDIMIENTO
TIPO VALOR                 M           M             M           M
INSTRUMENTO
M_BONOS_170615             1        6.23           167        6.84
M_BONOS_171214             1        6.40           349        7.32
M_BONOS_180614             1        6.56           531        7.76
M_BONOS_181213             2        6.62           713        8.33
M_BONOS_191211            11        6.46          1076        8.64
M_BONOS_200611           194        6.46          1259        8.62
M_BONOS_210610           558        6.47          1623        8.83
M_BONOS_211209           740        6.49          1336        8.88
M_BONOS_220609           922        6.46          1987        8.91
M_BONOS_230309          1195        6.50          1259        6.88
M_BONOS_231207          1468        6.53          2533        9.02
M_BONOS_240905          1741        6.59          2008        7.99
M_BONOS_241205          1832        6.57          2897        9.07
M_BONOS_260305          2287        6.62          3352        9.16
M_BONOS_270603          2742        6.66          3807        9.23
M_BONOS_290531          3470        6.72          4535        9.36
M_BONOS_310529          4198        6.79          5263        9.51
M_BONOS_341123          5472        6.89          6537        9.62
M_BONOS_361120          6200        6.96          7265        9.67
M_BONOS_381118          6928        7.04          7993        9.79
M_BONOS_421113          8384        7.08          9449        9.80
M_BONOS_471107         10204        7.10         11206        9.83

FUNCION                  std
METRICA        DIAS X VENCER RENDIMIENTO
TIPO VALOR                 M           M
INSTRUMENTO
M_BONOS_170615     48.872236    0.150705
M_BONOS_171214    100.091741    0.240056
M_BONOS_180614    153.065838    0.364187
M_BONOS_181213    205.674600    0.462139
M_BONOS_191211    304.402650    0.564688
M_BONOS_200611    304.402650    0.535501
M_BONOS_210610    304.402650    0.547266
M_BONOS_211209    170.201140    0.550055
M_BONOS_220609    304.402650    0.555128
M_BONOS_230309     21.756246    0.099636
M_BONOS_231207    304.402650    0.552882
M_BONOS_240905     75.308418    0.475110
M_BONOS_241205    304.402650    0.552745
M_BONOS_260305    304.402650    0.558763
M_BONOS_270603    304.402650    0.560217
M_BONOS_290531    304.402650    0.559016
M_BONOS_310529    304.402650    0.559793
M_BONOS_341123    304.402650    0.561822
M_BONOS_361120    304.402650    0.548736
M_BONOS_381118    304.402650    0.555323
M_BONOS_421113    304.402650    0.551105
M_BONOS_471107    286.164184    0.565038